@model Elmarknad.Models.ViewModels.AllElBolagViewModel

@{
    Layout = "_LayoutAdmin.cshtml"; ;
}
<h2>Visar alla Elbolag</h2>
<div class="col-md-12 center-block">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Bild</th>
                <th scope="col">Namn</th>
                <th scope="col">Nummer</th>
                <th scope="col">Ta bort</th>
                <th scope="col">Redigera</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ElBolag)
            {
                <tr>
                    <td class="col-md-3">@if (item.Image != null)
                    {<img src="../@item.Image" style="width: 20%;" class="img-responsive" />}</td>
                    <td class="col-md-3">@item.Name</td>
                    <td class="col-md-2">@if (item.Phone != null)
                    {@item.Phone}</td>
                    <td class="col-md-2"><btn class="btn btn-danger delete-post" id="@item.ElBolagId">Ta Bort</btn></td>
                    <td class="col-md-2">@Html.ActionLink("Redigera", "ManageCompany", new { id = item.ElBolagId }, htmlAttributes: new { @class = "btn btn-default" })</td>
                </tr>
            }

        </tbody>
    </table>

</div>
@section scripts{
    <script>
        $(".delete-post").on("click", function (e) {
            var id = e.target.getAttribute("id");
            
            $.ajax({
                url: "/api/company/delete",
                type: "Post",
                data: JSON.stringify([id]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Bolaget har tagits bort från databasen.");
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel. Kontrollera att inga avtal hör till bolaget")
                }
            })
        });
    </script>
}