
@{
    ViewBag.Title = "Admin Start";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";

}
<div class="col-lg-12">
    <hr />
    <h2>Välkommen @User.Identity.Name</h2>
    <hr />
    <h3>Gå vidare direkt till <a href="~Home/Index">Elmarknad</a></h3>
    <hr />

</div>
