
@{
    ViewBag.Title = "Uppdatera Databas";
    Layout = "_LayoutAdmin.cshtml";
}

<h2>Admin Start</h2>
<div class="col-sm-12"><h3>Skrapning av data</h3></div>
<hr />
@if(User.Identity.Name == "samuel@elmarknad.se") {
<div class="col-lg-12">
    <div class="col-lg-4" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Uppdatera postnummer<br /> Från fil(JSON) <br /> Varning! Tar lång tid</h4>
        <hr />
        <button class="btn btn-block btn-default" id="update-post">Uppdatera</button>
        <br />
    </div>
</div>
}
<div class="col-lg-12" style="margin-top: 2%;">
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Rörligt <br /> 2000Kwh</h4>
        <hr />
        <button class="btn btn-block btn-default" id="r2000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Rörligt <br /> 5000Kwh</h4>
        <hr />
        <button class="btn btn-block btn-default" id="r5000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Rörligt <br /> 20 000Kwh</h4>
        <hr />
        <button class="btn btn-block btn-default" id="r20000el14">Uppdatera</button>
        <br />
    </div>
</div>

<div class="col-lg-12" style="margin-top: 2%;">
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Fast <br /> 2000Kwh</h4>
        <hr />
        <button class="btn btn-block btn-default" id="f2000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Fast <br /> 5000Kwh</h4>
        <hr />
        <button class="btn btn-block  btn-default" id="f5000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Fast <br /> 20 000Kwh</h4>
        <hr />
        <button class="btn btn-block  btn-default" id="f20000el14">Uppdatera</button>
        <br />
    </div>
</div>

<div class="col-lg-12" style="margin-top: 2%;">
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Mix <br /> 2000Kwh</h4>
        <hr />
        <button class="btn btn-block  btn-default" id="m2000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Mix <br /> 5000Kwh</h4>
        <hr />
        <button class="btn  btn-block btn-default" id="m5000el14">Uppdatera</button>
        <br />
    </div>
    <div class="col-lg-3" style="border: 1px solid #000; margin: 0.5%;">
        <h4>Skrapa Elområde 1 - 4 <br /> Mix <br /> 20 000Kwh</h4>
        <hr />
        <button class="btn  btn-block btn-default" id="m20000el14">Uppdatera</button>
        <br />
    </div>
</div>

@section scripts{
    <script>
        $("#update-post").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/numbers",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Postnummer uppdaterat från fil");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });
        $("#r2000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/r2000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });
        $("#r5000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/r5000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });

        $("#r20000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/r20000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });

        $("#f2000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/f2000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });
        $("#f5000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/f5000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });
        $("#f20000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/f20000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });

        $("#m2000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/m2000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });
        $("#m5000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/m5000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });

        $("#m20000el14").on("click", function () {
            alert("Lämna inte sidan förän du meddelats att allt är klart")
            $.ajax({
                url: "/api/scrape/m20000el14",
                type: "Post",
                data: JSON.stringify(["bool-message"]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Databasen har uppdaterats");
                },
                error: function () {
                    alert("Det finns kunder kopplade till avtalen. Var god spara ner dessa och ta bort dem.")
                }
            })
        });


    </script>

}
