@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges  #1b5b82*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

#footer {
    background: #1b5b82 !important;
}

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.social li {
        padding: 3px 0;
    }

        #footer ul.social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        #footer ul.social li:hover a i {
            font-size: 30px;
            margin-top: -10px;
        }

        #footer ul.social li a,
        #footer ul.quick-links li a {
            color: #ffffff;
        }

            #footer ul.social li a:hover {
                color: #fff;
            }

    #footer ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        #footer ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        #footer ul.quick-links li a i {
            margin-right: 5px;
        }

        #footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bgcolor-skyblue {
    background: rgba(222, 220, 219, .2);
}

.image-aboutus-banner {
    /*background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../Images/bakgrund.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}
.image-custom-banner {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../Images/teckna.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}


.image-aboutus-sm-banner {
    /*background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../Images/bakgrund.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}
@media (max-width:1080px) {
    .image-aboutus-banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 20%;
    }

    .lg-text {
        font-size: 32px;
        font-weight: 400;
        text-transform: none;
        color: #fff;
    }
    .image-custom-banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 20%;
    }
}
.image-aboutus-para {
    color: #fff;
}

/************************* */
.plan {
    background: #f9f9f9;
    padding: 50px 30px;
    margin-bottom: 30px;
}

.plan-header h4 {
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}

.plan-header {
    font-weight: 700;
}

    .plan-header span {
        color: #fe4819;
        font-size: 40px;
    }

.plan li {
    padding-bottom: 15px;
}

.plan ul {
    padding-left: 0;
    margin-bottom: 15px;
    list-style: none;
}

.plan-header p {
    padding-header: 12px;
    padding-bottom: 15px;
}

.col-md-3, .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-pink {
    background: #f0f0f0;
}

.bg-blue {
    background: #d6d6d6;
    color: #000;
}

.padding35 {
    padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
    color: #fff;
    padding: 15px;
    background: #323232;
    font-size: 50px;
    border-radius: 90px;
    border: 10px solid #323232;
}

.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}

    .feature-box:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .feature-box h4 {
        font-size: 20px;
        font-weight: 600;
        margin: 25px 0 15px;
    }

/* Site Heading */
.site-heading h3 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.border {
    background: #e8e8e8;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    float: left;
}

/* padding-margin */
.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* Carousel banner */
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #555;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-caption {
    margin-bottom: 30px;
}

    .carousel-caption h1 {
        margin-bottom: 15px;
        font-size: 42px;
        font-weight: 700px;
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400px;
    }
.cta-padding35 {
    padding: 35px 0 35px;
    background-color: #fa752e;
    color: #fff;
    margin-bottom: 5%;
}
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid #1b5b82;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #1b5b82;
    background-color: transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;
}

    .site-btn:hover {
        background: #1b5b82;
        border: 1px solid #fff;
        font-weight: 700px;
    }

@media (max-width:767px) {
    .site-btn {
        font-size: 14px;
        padding: 13px 30px;
        border-radius: 5px;
        border: 1px solid #1b5b82;
        min-width: 200px;
        width: 90%;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #1b5b82;
        background-color: transparent;
        transition: all .25s ease-in-out;
        margin: 10px 0px 10px 0px;
        margin-left: 5%;
    }

        .site-btn:hover {
            background: #1b5b82;
            border: 1px solid #fff;
            font-weight: 700;
        }
}
.demo-bg {
    background: none;
    margin-top: 60px;
}

.business-hours {
    background: #1b5b82;
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
}

    

    .business-hours .title {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        padding-left: 5px;
        border-left: 4px solid #f07451;
    }

    .business-hours li {
        color: #c9c5c2;
        line-height: 30px;
        border-bottom: 1px solid #c9c5c2;
    }

        .business-hours li:last-child {
            border-bottom: none;
        }

    .business-hours .opening-hours li.today {
        color: #f07451;
    }

.preloader {
    position: relative;
    height: 75px;
    width: 75px;
    margin: 50px auto 0;
}

.spinner {
    width: 75px;
    height: 75px;
    margin: 0;
    border-top: 10px solid #1b5b82;
    box-shadow: 4px 4px 5px #d2d2d2 inset;
    border-right: 10px solid transparent;
    border-radius: 50%;
    animation: 1.5s spin linear infinite;
}

.spinner-2 {
    width: 75px;
    height: 75px;
    margin: 0;
    border-top: 10px solid #f07451;
    border-left: 10px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    animation: 1.5s spin-2 linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.searchbar {
    margin-bottom: 3%;
    margin-top: auto;
    height: 60px;
    background-color: #1b5b82;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #f07451;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

section {
    width: 100%;
    float: left;
}

.banner-section {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../Images/information.png");
    background-size: cover;
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
}

.post-title-block {
    padding: 5%;
}

    .post-title-block h1 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .post-title-block li {
        font-size: 20px;
        color: #fff;
    }

.image-block {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 5%;
}

.custom-margin{
    margin-top: 10% ;
}
.mobile-margin{
    margin-top: 5%;
}
@media (max-width:1080px) {
    .custom-margin {
        margin-top: 50%;
    }
    .search-tool {
        border-top: 3px solid #e8e6e4;
        
    }
}
