
@{
    ViewBag.Title = "Karriär";
}

@Html.Partial("../Home/HeaderLayout")

<div class="container team-sektion paddingTB60">
    <div class="row">
        <div class="site-heading">
            <hr />
            <h2 style="color: #1b5b82;">
                Lediga jobb
            </h2>
            <hr />
            <p class="lead">Vill du också vara med och hjälpa fler människor att sänka sina elkostnader? Elmarknad.se är ett snabbväxande bolag som drivs av hungriga visionärer med höga ambitioner.</p>
            <p>Hos Elmarknad.se får du, oavsett om du är ung eller mer erfaren, möjligheten att snabbt utvecklas och göra karriär om du bevisar din förmåga, visar engagemang och en stark vilja att hjälpa våra kunder.
                Oavsett om du är intresserad av rådgivning, programmering eller andra roller på Elmarknad.se har du möjlighet att vara med på vår resa när vi förändrar energibranschen.
            </p>
            <hr />
    </div>
    <div class="row">
        <div class="col-md-6 team-box">
            <div class="team-img thumbnail">
                
                <div class="team-content">
                    <h3>Front-end Developer</h3>
                    <div class="border-team"></div>
                    <br />
                    <p>Just nu söker vi front-end utvecklare som kommer ta en nyckelroll i utvecklingen av vår interna och externa plattform. I rollen som front-end developer har du ansvar för drift, support och utveckling av våra system. För att lyckas med rollen värdesätter vi någon som är självgående och har ambitioner att ta utökat ansvar allteftersom teamet växer.</p><br />
                    <p><u>Skicka ansökan till:</u> <a href="mailto:karriar@elmarknad.se">karriar@elmarknad.se</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 team-box">
            <div class="team-img thumbnail">

                <div class="team-content">
                    <h3>Energirådgivare</h3>
                    <div class="border-team"></div>
                    <br />
                    <p>Just nu söker vi energirådgivare som tar hand om kontakten med våra kunder. I rollen som energirådgivare har du daglig kontakt med våra kunder och har som mål att sänka deras energikostnader. Du får utveckla din kommunikationsförmåga, din arbetsmetodik och blir expert inom den växande energisektorn. Den första tiden av din anställning består av gedigen utbildning inom försäljning, kundservice, energimarknaden och privatekonomi.</p><br />
                    <p><u>Skicka ansökan till:</u> <a href="mailto:karriar@elmarknad.se">karriar@elmarknad.se</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
