
@{
    ViewBag.Title = "Frågor och svar";
}
@Html.Partial("../Home/HeaderLayout")

<div class="row" style="margin-top: 5%;">
    <div class="col-lg-12">
        <hr>
        <h2 style="color:#1b5b82;">@ViewBag.Title</h2>
        <hr>
        <p class="lead">Nedan hittar du de vanligast frågorna och svaren till dessa.</p>
        <p>Hittar du inget svar på din fråga? Klicka vidare till <a href="../Home/Contact">kontaktsidan</a></p>
        <hr />
        <div class="panel-group" id="faqAccordion">
            <h3 style="font-weight: 200; color: #1b5b82; margin-bottom: 1%;">Om tjänsten</h3>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Hur fungerar det att jämföra elbolag genom Elmarknad.se?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Vi tar först och främst reda på hur din situation ser ut. Därefter jämför vi dagsaktuella elpriser från Sveriges elbolag för att hitta det billigaste elbolaget utifrån din unika situation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Vad kostar det att byta elavtal genom Elmarknad.se?</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Att jämföra och byta elavtal är helt kostnadsfritt för dig som kund. Om vi hittar ett bättre elavtal än vad du har idag så får vi en engångsersättning från elbolaget för att vi förmedlar dem en ny kund.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Hur mycket kan jag spara på att jämföra elavtal?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Beroende på hur mycket el ditt hushåll förbrukar och vad du har för elavtal idag så kommer det variera hur mycket pengar du kan spara. Många, framförallt husägare, kan spara tusenlappar genom att byta elavtal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">
                            Måste jag jämföra själv efter mitt elavtal har gått ut?
                        </a>
                    </h4>
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Du kan ringa oss för att boka in en genomgång inför att ditt elavtal löper ut. Om vi redan har hjälpt dig så ringer vi dig i god tid innan ditt elavtal löper ut för att se till att du får ditt bästa elpris även för nästkommande period.
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <!--/panel-group-->


        <div class="panel-group" id="faqAccordion">
            <h3 style="font-weight: 200; color: #1b5b82;  margin-bottom: 1%;">Om elavtal</h3>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Vad är elpris?</a>
                    </h4>
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Elpris är priset för elen i avtalet. Elpriset anges per kWh och inkluderar grundpriset, tillägg, skatter och administrativa avgifter.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Vad är engångsavgift?</a>
                    </h4>
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            En engångsavgift är en administrativ avgift som oftast inträffar vid tecknande av nytt elabonnemang i form av en uppläggningsavgift.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">Vad är jämförpris?</a>
                    </h4>
                </div>
                <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Jämförpris för elpriser är detsamma som jämförpris på köttfärs i matbutiken. Man räknar ihop totalkostnaden för grundpriset, tillägg, skatter och administrativa avgifter
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">
                            Vad är timpris?
                        </a>
                    </h4>
                </div>
                <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Timpris är ett relativt nytt elavtal som innebär att man kan justera sin elkostnad utifrån när man använder elen. Det innebär att man kan få rabatt på sin el om man tvättar under tider då andra är iväg på jobbet, ligger och sover eller likande.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">
                            Vad är årsavgift?
                        </a>
                    </h4>
                </div>
                <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Din årsavgift är kostnaden som elnätsbolaget tar ut för underhåll av elnätet. Kostnaden är inräknad i ditt pris per Kwh/h.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">
                            Vad är årskostnad?

                        </a>
                    </h4>
                </div>
                <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            På din elfaktura så står den uppskattade totalkostnaden för din elförbrukning.

                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
                    <h4 class="panel-title">
                        <a class="ing" style="cursor: pointer;">
                            Ska jag välja fast eller rörligt pris?
                        </a>
                    </h4>
                </div>
                <div id="question11" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Svar</span></h5>
                        <p>
                            Om du ska välja fast eller rörligt pris beror naturligtvis på vad du föredrar. Med ett fast elpris så kan man enkelt förutspå kostnaderna medans om man väljer rörligt som kan vara vara både högre och lägre beroende på hur Svenska elmarknaden ser ut.
                        </p>
                    </div>
                </div>
            </div>

            <!--/panel-group-->
            <div class="panel-group" id="faqAccordion">
                <h3 style="font-weight: 200; color: #1b5b82;  margin-bottom: 1%;">Vid flytt</h3>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
                        <h4 class="panel-title">
                            <a class="ing" style="cursor: pointer;">
                                Vad gör jag med mitt elavtal när jag flyttar ut från min bostad?
                            </a>
                        </h4>
                    </div>
                    <div id="question12" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Svar</span></h5>
                            <p>
                                Du behöver anmäla din flytt till ditt elbolag. Om du har kvar bindningstid på ditt nuvarande elavtal så följer det med till din nya bostad och om du har tillsvidareavtal så kan du avsluta ditt elavtal och tecka ett nytt elavtal till din nya bostad.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question13">
                        <h4 class="panel-title">
                            <a class="ing" style="cursor: pointer;">
                                Vad gör jag med mitt elavtal när jag flyttar in i en ny bostad?
                            </a>
                        </h4>
                    </div>
                    <div id="question13" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Svar</span></h5>
                            <p>
                                Du kan välja att ta med dig ditt tidigare elavtal eller byta elbolag. Vi rekommenderar alltid att man tecknar ett nytt eftersom elpriset kan skilja sig beroende på vart man bor i landet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question14">
                        <h4 class="panel-title">
                            <a class="ing" style="cursor: pointer;">
                                Jag har precis flyttat, hur tar jag reda på vad för elavtal som jag har?
                            </a>
                        </h4>
                    </div>
                    <div id="question14" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Svar</span></h5>
                            <p>
                                För att ta reda på vilket elhandelsbolag som tillhandahåller just ditt elavtal så kontaktar du ditt elnätsbolag. För att ta reda på vilket elnätsområde du tillhör kan du gå in på Svenska Kraftnäts tjänst.
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Har du fått svar?</b> Kontakta oss om du har funderingar</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                <a href="../Home/Contact" class="btn btn-primary site-btn">Kontakt</a>
            </div>
        </div>
    </div>
</div>