@{
    ViewBag.Title = "Vilkor";
}

@Html.Partial("../Home/HeaderLayout")
<div class="container paddingTB60">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <hr>
            <h2 style="color:#1b5b82;">Vilkor</h2>
            <hr>
            <!-- Preview Image -->

            <hr>


            <p>
                Genom att lämna uppgifter om dig till Elmarknad.se godkänner du våra villkor och försäkrar samtidigt att
                lämnade
                uppgifter är korrekta. Du samtycker också till att dina personuppgifter registreras och behandlas.
            </p>

            <p>
                Elmarknad.se ansvarar för behandlingen av dina personuppgifter och för att sådan behandling sker i
                enlighet med
                gällande lagstiftning.
            </p>


            <p>
                Elmarknad.se lämnar ut dina uppgifter till de elnätsbolag, elhandelsbolag och andra energirelaterade
                samarbetspartner, leverantörer av IT-tjänster samt partners som kan ha erbjudanden som är intressanta
                för ditt
                energibehov som vi samarbetar med.
            </p>

            <p>
                Vi sparar och behandlar dina personuppgifter i syfte att kommunicera ditt energibehov till de parter som vi
                samarbetar med, skapa oss en bild av det bästa erbjudandet för dig samt för att kunna kontakta och
                administrera
                kundförhållandet med dig. Genom att godkänna dessa villkor godkänner du att bli medlem i Elmarknad.se:s
                Kundklubb. Elmarknad.se kan i detta sammanhang komma att spara och bearbeta de personuppgifter som rör ditt
                medlemskap och kan vid framtida tillfälle komma att kontakta dig via e-post, telefon och brev med
                information om
                nya produkter, tjänster eller andra erbjudanden från Elmarknad.se och Elmarknad.se:s samarbetspartners. Om
                du inte
                vill att Elmarknad.se ska kontakta dig kan du vända dig till kundtjanst@elmarknad.se. Du kan också
                närsomhelst
                avsluta din prenumeration på vårt nyhetsbrev.
            </p>

            <p>
                Elmarknad.se förbehåller sig rätten att spela in all telefonkontakt med dig. Dessa inspelningar samt övriga
                uppgifter vi sparar om dig kommer att ligga kvar i våra system så länge vi har ett kundförhållande med
                dig.
            </p>
            <p>
                För att få information om vår behandling av dina personuppgifter kan du kontakta Elmarknad.se per e-post
                till
                kundtjanst@elmarknad.se. Dit kan du också vända dig en gång per år för att få information om vilka
                uppgifter vi har
                sparat om dig, samt om du vill ta tillbaka ditt samtycke till att vi får behandla dina uppgifter, eller om
                du vill
                att vi ska rätta, blockera eller radera uppgifter.
            </p>
            <hr>
            <h3>ANSVAR I SAMBAND MED VÅRA TJÄNSTER</h3>
            <p>
                Information, uträkningar och rekommendationer lämnade av Elmarknad.se ska endast betraktas som vägledande
                förslag.
                Det är upp till dig att värdera och kontrollera den information som vi lämnar om våra samarbetspartners
                erbjudanden.
            </p>
            <p>
                Avtal som du tecknar med elbolag och övriga företag som Elmarknad.se samarbetar med är ett avtal mellan dig
                och
                företaget. Elmarknad.se ansvarar inte för eventuell skada eller förlust som uppstår på grund av att du
                väljer att
                ingå, eller avstår från att ingå, avtal med något av de företag som vi samarbetar med.
            </p>
            <hr>
            <h3>ÄNDRINGAR</h3>
            <p>Vi förbehåller oss rätten att ändra och uppdatera dessa allmänna villkor.</p>
            <p>Version: 201811</p>
            <hr>
            <h3>OM COOKIES</h3>
            <p>
                Du lämnar ditt samtycke till att vi placerar cookies på din dator, om din webbläsare eller motsvarande
                utrustning är
                inställd på att tillåta cookies. Du tar tillbaka ditt samtycke genom att ändra webbläsarens inställning.
            </p>
            <h4>VAD ÄR COOKIES (KAKOR)?</h4>
            <p>
                En cookie är en liten textfil som webbplatsen du besöker sparar på din dator. Cookies används på många
                webbplatser
                för att ge en besökare tillgång till olika funktioner. Informationen i cookien är möjlig att använda för
                att följa
                en användares surfande inom en specifik webbplats.
            </p>
            <p>
                Det finns två typer av cookies. Den ena typen sparar en fil under en längre tid på din dator. Den används
                till
                exempel vid funktioner som talar om vad som är nytt sedan användaren senast besökte den aktuella
                webbplatsen. Den
                andra typen av cookies kallas sessionscookies. Under tiden du är inne och surfar på en sida, lagras den här
                cookien
                temporärt i din dators minne exempelvis för att hålla reda på vilket språk du har valt. Sessionscookies
                lagras inte
                under en längre tid på din dator, utan försvinner när du stänger din webbläsare.
            </p>
            <p>Post och Telestyrelsen, som är tillsynsmyndighet, har publicerat frågor och svar om cookies.</p>
            <h4>Vi använder cookies!</h4>
            <p>
                På den här webbplatsen används cookies för att underlätta för besökarna och ge tillgång till olika
                funktioner och
                olika typer av information.
            </p>
            <hr>
            <h3>GOOGLE ANALYTICS</h3>
            <p>
                Statistikverktyget Google analytics placerar en cookie på din dator som samlar in information om hur du
                surfar runt
                på vår webbplats. Vi använder informationen för att se vilket innehåll som är populärt samt att förbättra
                webbplatsen. Statistikverktygets cookie innehåller ingen information om vem du är. Vi kan inte identifiera
                dig
                eller din dator.
            </p>
            <p>
                Om du vill veta mer kan du läsa Google Sekretess-policy som beskriver hur din information används hos
                Google:
                www.google.com/policies/privacy/partners/.
            </p>
            <hr>
            <h3>VI ANVÄNDER OCKSÅ TREDJEPARTSCOOKIES</h3>
            <p>
                Vi använder också tjänsten Google Remarketing, för att baserat på data från Google Analytics, styra
                remarketing-annonser i Google Display Network (GDN) eller för att identifiera kön och ålder på våra
                besökare.
            </p>
            <p>
                Om att lämna eller ta tillbaka ditt samtycke
                Är din webbläsare inställd på att tillåta cookies har du lämnat ditt samtycke till att vi placerar cookies på din
                dator. Du kan ta tillbaka ditt samtycke genom att ändra inställningar i webbläsaren.
            </p>
            <hr>
            <h3>STÄNGA AV COOKIES I WEBBLÄSAREN</h3>
            <h4>Internet Explorer</h4>
            <p>
                Öppna verktygsmenyn, välj Internetalternativ, gå till fliken Sekretess i dialogrutan Internetalternativ, flytta reglaget för att ändra inställningar.<br>
                http://windows.microsoft.com/sv-se/internet-explorer/delete-manage-cookies
            </p>
            <h4>Edge</h4>
            <p>
                Välj Mer > Inställningar. Välj sedan Visa avancerade inställningar under Avancerade inställningar och önskat alternativ
                under Sekretess och tjänster > Cookies. (Blockera alla cookies blockerar alla cookies som webbplatser försöker spara på
                din dator. Blockera endast cookies från tredje part blockerar cookies från tredje part som sparas av externa
                webbtjänster, till exempel inbäddade annonser på webbsidor som du har besökt.)<br>
                http://windows.microsoft.com/sv-se/windows-10/edge-privacy-faq
            </p>
            <h4>Firefox</h4>
            <p>
                Öppna menyn (verktyg), välj inställningar, gå till vyn Sekretess i dialogrutan Inställningar, ändra hur Firefox ska
                spara information med rullgardinslisten.<br>
                https://support.mozilla.org/sv/kb/Till%C3%A5t%20eller%20blockera%20kakor
            </p>
            <h4>Chrome</h4>
            <p>
                Öppna anpassa-menyn, välj alternativ, gå till vyn Under huven, välj Innehållshantering vid rubriken Sekretess, ändra
                hur Chrome hanterar cookies.<br>
                https://support.google.com/chrome/answer/95647?hl=sv
            </p>
            <hr>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <!-- Side Widget Well -->
            <div class="" style="background-color: none !important;">
                <a href="~/Home"><img class="img-responsive " src="~/Images/payment.png" style="margin-left: auto; margin-right: auto;" /></a>
            </div>
            
            
        </div>
    </div>
</div>


<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Vill du betala mindre?</b> Gör din första sökning redan nu</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                @Html.ActionLink("Ta mig till söksidan", "Index", "Home", new { @class = "btn btn-primary site-btn" })

            </div>
        </div>
    </div>
</div>

