<div class="image-aboutus-banner" id="custom-image" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>
