@{
    ViewBag.Title = "Så går det till";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

@Html.Partial("HeaderLayout")
<div class="container paddingTB60">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <hr>
            <h2>Vi gör det enklare att sänka dina elkostnader</h2>
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" src="BM_MobileFirst_SXSWBlog_0321_v2.jpg" alt="">
            <hr>
            <!-- Post Content -->
            <p class="lead">När du jämför elpriser via vår tjänst så inleder vi med att samla in den information som behövs för att kunna ta fram elpriser.</p>
            <p> Beroende på var du bor, hur mycket el du förbrukar och vilka avtalsprefenser du har får du enkelt de bästa elavtalen presenterade för dig.</p>
            <p>Därefter väljer du det elavtal som passar din livssituation bäst, lutar dig tillbaka och lämnar över allt som har med avtalsbytet att göra till oss!</p>

            <hr>
            <h3>Så fungerar Elmarknaden</h3>
            <p>
                Den svenska elmarknaden präglas idag av det avskaffade monopolet som klubbades infördes 1996. Bara några år
                tidigare skapade man även en gemensam handelsplats för alla energiproducenter i Norden som kallas Nord Pool
                Spot.
                Elmarknaden kan för många verka väldigt komplicerad med olika typer av elbolag som agerar på marknaden. I denna
                guide reder vi ut alla begreppen och förklarar närmare hur elmarknaden ser ut och varför den ser ut som den
                gör.
            </p>
            <p>
                Till att börja med så ska vi gå igenom de olika intressenterna som finns på den svenska elmarknaden.<br>
                1.Elproducenter<br>
                2.Elnätsbolag<br>
                3.Elhandelsbolag<br>
                4.Elkonsumenter
            </p>
            <h3>Elproducenter</h3>
            <p>
                En elproducent är ett bolag vars affärsverksamhet kretsar kring att producera el genom sol, vind, vatten,
                kärnkraft
                eller andra former av energikällor. För att producera el behöver du någon form av generator varpå man sedan
                säljer
                vidare elen via en nordisk handelsplats som kallas Nord Pool Spot.
            </p>
            <h3>Elnätsbolag</h3>
            <p>
                Ett elnätsbolag har som uppgift att förvalta och utveckla elnätet för ett eller flera elnätsområden.Du som användare
                kan inte välja vilka elnätsbolag som du vill ha eftersom elnätsbolaget äger licensen över elnätsområdet.
                Elnätsbolagens skyldigheter granskas av Energimarknadsinspektionen som även granskar såväl elproducenter som
                elhandelsbolag.
            </p>
            <h3>Elhandelsbolag</h3>
            <p>
                De elbolag som handlar med el mot elkonsumenterna kallas för elhandelsbolag. Dessa är de bolag som vi i vardagen
                kallar för just <strong>elbolag</strong>. Sedan avskaffandet av elhandelsmonopolet i Sverige, 1996, så har det poppat upp ett
                100-tal elbolag bara i Sverige. Alla dessa elbolag kan du som elkonsument ansluta dig till oavsett vart i landet du
                bor. Anledningen till att det finns så pass många olika elbolag i Sverige är att de alla konkurrerar på en fri
                marknad där man lockar användare med hjälp av priser, villkor, produktionskällor och andra faktorer som styr ditt
                val av elbolag.
            </p>
            <h3>Elkonsumenter</h3>
            <p>
                Till denna grupp hör både privata hushåll såväl som företag. Detta är de som handlar el från elhandelsbolagen och i
                sin tur förbrukar elen, d.v.s du och jag!
            </p>

            <h4>Så fungerar prissättningen</h4>
            <p>
                Anledningarna till elprisernas upp- och nedgångar är många. Dels påverkas den av hur mycket el som produceras inom
                Nord Pool Spot – vår gemensamma elproduktionsmarknad. Dels påverkas det av hur mycket el vi förbrukar runt om i
                landet. Generellt sett så kan man säga att priserna under vinterhalvåret är högre eftersom vi då har mindre
                elproduktion genom hållbara källor som sol, vind och vatten. Samtidigt så behöver vi värma upp våra hem och
                fastigheter i större utsträckning vilket innebär att utbudet och efterfrågan höjer priset för att göra oss mer
                sparsamma.
            </p>
            <p>
                När energin på Nord Pool Spot får ett underskott så importerar man el från andra länder som t.ex. Tyskland. Därav
                kan elpriset även påverkas av vädret på i andra länder samt hur valutakurser utvecklas på den internationella
                marknaden.
            </p>
            <p>
                När elbolagen sätter sina priser så försöker de förutspå utvecklingen av efterfrågan på elen, kontra den tillgång
                som kommer att finns över den tid som avtalet löper, ge dig som slutanvändare ett så lukrativt erbjudanden som
                möjligt samtidigt som de har egenintresse för att utveckla sin verksamhet på ett vinstdrivande sätt.
            </p>

            <h4>Framtidens elmarknad</h4>
            <p>
                Eftersom el är otroligt kostsamt att lagra så behöver man förbruka energin helst så snabbt som möjligt. I framtiden
                förutspår man därför att de flesta konsumenter även kommer bli producenter (mikroproducenter) på elmarkanden. Detta
                beror på att fler installerar t.ex. solceller, vindkraftverk och annat som gör att de i många lägen kommer sitta
                inne med överskott på el som de i sin tur kan sälja tillbaka till elmarknaden där den kommer till bättre nytta för
                någon annan.
            </p>
            <p>
                I dagsläget är det ett fåtal elnät som stödjer denna typ av handel men man jobbar hela tiden med att utveckla
                elmarknaden och det finns ett antal bolag runt om i världen som även håller på att tar fram mjukvara som möjliggör
                denna handel med hjälp av blockkedje-teknik (block chain).
            </p>


            <h4>Jämför innan du tecknar elavtal</h4>
            <p>
                Hos Elmarknad.se jämför du priser och villkor från alla elbolag på den <a href="~/Home">svenska elmarknaden</a>. Jämförelsetjänsten är
                helt kostnadsfri och tar inte mer än ett par minuter.
            </p>


        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <!-- Side Widget Well -->
            <div class="well bgcolor-skyblue">
                <img class="img-responsive " src="~/Images/avtal.png" style="margin-left: auto; margin-right: auto;" />

                <h2 class="text-center">
                    Välj avtalstyp
                </h2>
                <p class="text-center">Fyll i dina uppgifter och påbörja jämförelsen direkt.</p>
            </div>
            <div class="well bgcolor-skyblue">
                <img class="img-responsive " src="~/Images/elpris.png" style="margin-left: auto; margin-right: auto;" />

                <h2 class="text-center">
                    Jämför elpriser
                </h2>
                <p class="text-center">Du jämför sedan enkelt elavtal från samtliga elbolag i Sverige.</p>
            </div>
            <div class="well bgcolor-skyblue">
                <img class="img-responsive " src="~/Images/elavtal.png" style="margin-left: auto; margin-right: auto;" />

                <h2 class="text-center">
                    Byt elavtal
                </h2>
                <p class="text-center">När du hittat det bästa elpriset hjälper vi dig att byta.</p>
            </div>
        </div>
    </div>
</div>


<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Intresserad?</b> Gör din första sökning redan nu</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                @Html.ActionLink("Ta mig till söksidan", "Index", "Home", new { @class = "btn btn-primary site-btn" })

            </div>
        </div>
    </div>
</div>