
@{
    ViewBag.Title = "Tack för att du valt oss";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Tack för att du valt oss!</h1>
    <p class="lead">Vi har skickat ut en bekräftelse till din epost</p>
    <hr>
    <img src="https://ogihx.stripocdn.email/content/guids/CABINET_63fbbc11db6741389cc3292b09a63e6d/images/63541516368770627.png" class="img-responsive"/>
    <p>
        Har du frågor? <a href="~/Home/Contact">Kontakta oss</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" href="~/Home/" role="button">Fortsätt till start</a>
    </p>
</div>